body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: silver;
    overflow-x: hidden;
}
.container {
      background-color: white;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.23);
      width: 400px;
      border-radius: 10px;
      margin: auto;
      padding: 15px 20px;
      position: relative;
      margin-top: 100px;
}
.image_container {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin: auto;
    gap: 30px;
    margin-bottom: 56px;
    max-height: 400px;
    overflow-y: scroll;
}
.image_container::-webkit-scrollbar {
    width: 8px;
}
.image_container::-webkit-scrollbar-track {
    background-color: beige;
    border-radius: 10px;
}
.image_container::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: rgba(12, 12, 6, 0.393);
    border-radius: 10px;
}
.image_container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(12, 12, 6, 1);
    border-radius: 10px;
}
.image {
    width: 30%;
    height: 150px;
    text-align: center;
}
.empty,.empty_text {
    opacity: 0.2;
    pointer-events: none;
    user-select: none;
    background-color: transparent;
}
.empty-container {
    background-color: transparent;
    color: black;
    margin: auto;
    text-align: center;
    width: 100%;
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin-left: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
    margin-bottom: 10px;
}

.image #info {
    position: relative;
    top: -120%;
    left: 80px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: green;
    color: orangered;
}
#btn {
    text-align: center;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: greenyellow;
    font-weight: 650;
    color: orangered;
    font-size: 17px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
    transition: transform 0.3s ease;
}
#btn:active {
    transform: scale(0.9);
}
.display_info {
    position: absolute;
    background-color: white;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    display: none;
}
.extra_info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: -15px;
}
.extra_info #title {
    color: brown;
}
.extra_info #length {
    color: green;
    font-weight: 600;
}
#rating {
    margin-top: 5px;
}
#cancel {
    position: relative;
    right: -145px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: brown;
    cursor: pointer;
}
.popback {
    pointer-events: none;
    opacity: 0..5;
}
